@import url('https://fonts.googleapis.com/css2?family=Abel&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body{ background-color: #080808; }



@theme {
  /* Colors */
  --color-BgColor: #080808;
  --color-LightColor: #101010;
  --color-ParaColor: #9c9c9c; 
  /* Font */
  --font-Heading: 'Saira', sans-serif;
  --font-Paragraph: 'Abel', sans-serif;

}

